# requirements file for building whole tutorials
# use `make docs`

# Refer to ./jenkins/build.sh for tutorial build instructions

sphinx==4.5.0
docutils==0.16
sphinx-gallery==0.3.1
sphinx-copybutton==0.5.0
sphinx-sitemap==2.2.0
sphinxext-opengraph==0.6.3
sphinxcontrib-katex==0.8.6

tqdm
numpy
matplotlib
torch
torchvision
torchtext
torchaudio
torchdata
# Functorch is not needed, as intermediate_source/forward_ad_usage.py is not rendered
# functorch
PyHamcrest
bs4
awscliv2==2.1.1
flask
spacy==2.3.2
ray[tune]
tensorboard
jinja2==3.0.3

# PyTorch Theme
pytorch-sphinx-theme @ https://github.com/PyTorchKorea/pytorch_sphinx_theme/archive/master.zip

ipython

# to run examples
boto3
pandas
requests
scikit-image
scipy
pillow
wget
gym==0.24.0
gym-super-mario-bros==7.3.0
timm
