# requirements file for building without gallery
# use `make html-noplot`

sphinx==5.0.0
sphinx-gallery==0.11.1
sphinx_design
docutils==0.16
sphinx-copybutton==0.5.0
sphinx-sitemap==2.2.0
sphinxext-opengraph==0.6.3
sphinxcontrib-katex==0.8.6
jinja2==3.0.3

torch
torchvision
torchtext
torchaudio
torchdata
networkx

# PyTorch Theme
pytorch-sphinx-theme @ https://github.com/PyTorchKorea/pytorch_sphinx_theme/archive/master.zip
