# requirements file for building without gallery
# use `make html-noplot`

sphinx==1.8.2
sphinx-gallery==0.3.1
sphinx-copybutton
sphinx-sitemap
sphinxext-opengraph
sphinxcontrib.katex
docutils==0.16
jinja2==3.0.3

torch
torchvision
torchtext
torchaudio
torchdata
#functorch

# PyTorch Theme
-e git+https://github.com/PyTorchKorea/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
