# additional requirements libraries for buuilding tutorials with gallery (aka full build)
# Refer to ./jenkins/build.sh for official tutorial build instructions

# use `make html-noplot` for htmls only (without evaluating sphinx-gallery)

sphinx==5.0.0
sphinx-gallery==0.11.1
sphinx_design
docutils==0.16
sphinx-copybutton
sphinx-sitemap
sphinxext-opengraph
sphinxcontrib-katex
plotly==5.14.0
torch
torchvision
torchtext
torchaudio
torchdata
networkx

# PyTorch Korea Theme
# pytorch-sphinx-theme@https://github.com/PyTorchKorea/pytorch_sphinx_theme/archive/master.zip
-e git+https://github.com/PyTorchKorea/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
