// PyTorchKR Base Styles (exactly from pytorch.kr)
@use 'variables' as *;

* {
  font-family: Nanum Gothic, FreightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400; /* normal - https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#Common_weight_name_mapping */
}

h1, h2, h3, h4, h5, h6 {
  font-family: Nanum Gothic;
}

p {
  margin-bottom: 1.25rem;
}

a, em, i, b, strong, u, span {
  font-size: inherit;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: $orange;
}

p {
  @include default_link_styles;
}

.btn,
a.btn {
  border-radius: 0;
  border: none;
  background-color: $light_grey;
  color: $dark_grey;
  font-weight: 400;
  position: relative;
  letter-spacing: 0.25px;

  &.btn-lg {
    font-size: 1.125rem;
    padding-top: rem(8px);
  }

  &.btn-white {
    background-color: $white;
  }

  &.btn-orange {
    background-color: $orange;
  }

  &.btn-demo {
    color: $white;
  }

  @include animated_border_hover_state;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 12px;

  @include desktop {
    font-size: 14px;
  }
}

body {
  @include desktop {
    margin: 0 0 $desktop_footer_height;
  }

  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

a, .btn {
  &.with-right-arrow {
    padding-right: rem(32px);
    position: relative;
    background-image: url("../img/chevron-right-orange.svg");
    background-size: 6px 13px;
    background-position: top 10px right 11px;
    background-repeat: no-repeat;
    @include desktop {
      background-size: 8px 14px;
      background-position: top 15px right 12px;
      padding-right: rem(32px);
    }
  }
  &.with-left-arrow {
    padding-left: rem(32px);
    position: relative;
    background-image: url("../img/chevron-left-grey.svg");
    background-size: 6px 13px;
    background-position: top 10px left 11px;
    background-repeat: no-repeat;
    @include desktop {
      background-size: 8px 14px;
      background-position: top 16px left 12px;
      padding-left: rem(32px);
    }
  }
}