// Footer styles (exactly from pytorch.kr)
@use 'variables' as *;

// Hide default Sphinx footer
.bd-footer {
  display: none !important;
}

// Footer info for documentation pages
.footer-info {
  display: block;
  clear: both;
  padding-top: rem(10px);
  font-size: 0.8rem;
  padding-left: rem(10px);
  line-height: 0.1;
}

.site-footer {
  padding-top: rem(40px);
  width: 100%;
  background: $black;
  background-size: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  @include desktop {
    padding-top: rem(80px);
    position: absolute;
    left: 0;
    bottom: 0;
    height: $desktop_footer_height;
  }

  p {
    color: $white;
  }

  ul {
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    margin-bottom: 0;
  }

  ul li {
    font-size: rem(18px);
    line-height: rem(32px);
    color: #A0A0A1;
    padding-bottom: rem(6px);

    &.list-title {
      padding-bottom: rem(12px);
      color: $white;
    }
  }

  a:link,
  a:visited {
    color: inherit;
  }

  @include desktop {
    a:hover {
      color: $orange;
    }
  }

  .trademark-disclaimer {
    background: #000000;
    display: flex;
    li {
      font-size: rem(14px);
      line-height: rem(15px);
      // display: inline-flex;
      color: white;
    }
  }

  .privacy-policy {
    background: #000000;
    display: flex;
    .privacy-policy-links {
      padding-top: 1rem;
      padding-right: 1rem;
      display: inline-flex;
      color: white;
    }
  }
}

.footer-container {
  position: relative;
}

.footer-logo-wrapper {
  @include desktop {
    position: absolute;
    top: 0;
    left: $site_horizontal_padding;
  }
}

.footer-logo {
  background-image: url("../img/logo-ko-square-dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  display: block;
  height: 130px;
  width: 100px;
  margin-bottom: 0;
}

.footer-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid white;

  @include desktop {
    flex-wrap: initial;
    justify-content: flex-end;
  }
}

.footer-links-col {
  margin-bottom: rem(60px);
  width: 50%;

  @include desktop {
    margin-bottom: 0;
    width: 15%;
    margin-right: 23px;

    &.follow-us-col {
      width: 18%;
      margin-right: 0;
    }
  }

  @include small-desktop {
    width: 58%;
    margin-right: 30px;
  }
}

.footer-social-icons {
  margin: rem(137px) 0 rem(40px) 0;

  a {
    height: 32px;
    width: 32px;
    display: inline-block;
    background-color: $very_dark_grey;
    border-radius: 50%;
    margin-right: 5px;

    &.facebook {
      background-image: url("../img/logo-facebook-dark.svg");
      background-position: center center;
      background-size: 9px 18px;
      background-repeat: no-repeat;
    }

    &.twitter {
      background-image: url("../img/logo-twitter-dark.svg");
      background-position: center center;
      background-size: 17px 17px;
      background-repeat: no-repeat;
    }

    &.youtube {
      background-image: url("../img/logo-youtube-dark.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}


.docs-tutorials-resources {
  background-color: $slate;
  color: $white;
  padding-top: rem(40px);
  padding-bottom: rem(40px);

  @include desktop {
    padding-top: rem(66px);
    padding-bottom: 4.09rem;
  }

  h2 {
    font-size: rem(24px);
    letter-spacing: -0.25px;
    text-transform: none;
    margin-bottom: 0.25rem;

    @include desktop {
      margin-bottom: rem(20px);
    }
  }

  .col-md-4 {
    margin-bottom: rem(32px);
    @include desktop {
      margin-bottom: 0;
    }
  }

  .with-right-arrow {
    margin-left: 12px;
    background-position: top 3px right 11px;

    @include desktop {
      background-position: top 6px right 11px;
    }

    &:hover {
      background-image: url("../img/chevron-right-white.svg");
    }
  }

  p {
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: 0.22px;
    color: #A0A0A1;
    margin-bottom: rem(8px);

    @include desktop {
      margin-bottom: rem(20px);
    }
  }

  a {
    font-size: rem(14px);
    color: $orange;
    &:hover {
      color: $white;
    }
  }
}





